nav.nav
    each i in nav
        .nav__item
            a(href=i.href).nav__link
                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L12 12M12 12V1M12 12H1" stroke="#1B4ED1"/>
                </svg>
                span= i.title
            if i.list
                .nav__drop
                    .subnav
                        each j in i.list
                            a(href=j.href).subnav__item
                                .subnav__title= j.title
                                ul.subnav__ul
                                    each li in j.ul
                                        li.subnav__li= li