div(style=`background-image: url(${banner.img});` class=banner.dopCls).banner
    .container
        .banner__title.h1!=banner.title
        if banner.txt
            .banner__txt.sub= banner.txt
        if banner.btn
            button(type='button' data-event=banner.btnEvent).banner__btn.btn= banner.btn
